
@font-face
  font-family: 'Whitney-Bold'
  src: url('../fonts/Whitney-Bold_gdi.eot')
  src: url('../fonts/Whitney-Bold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Whitney-Bold_gdi.woff') format('woff'),
    url('../fonts/Whitney-Bold_gdi.ttf') format('truetype'),
    url('../fonts/Whitney-Bold_gdi.svg#Whitney-Bold') format('svg')
  font-weight: 400
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-2212

@font-face
  font-family:'Whitney-Book'
  src: url('../fonts/Whitney-Book_gdi.eot')
  src: url('../fonts/Whitney-Book_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Whitney-Book_gdi.woff') format('woff'),
    url('../fonts/Whitney-Book_gdi.ttf') format('truetype'),
    url('../fonts/Whitney-Book_gdi.svg#Whitney-Book') format('svg')
  font-weight: 325
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-2212

@font-face
  font-family:'Whitney-Light'
  src: url('../fonts/Whitney-Light_gdi.eot')
  src: url('../fonts/Whitney-Light_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Whitney-Light_gdi.woff') format('woff'),
    url('../fonts/Whitney-Light_gdi.ttf') format('truetype'),
    url('../fonts/Whitney-Light_gdi.svg#Whitney-Light') format('svg')
  font-weight: 300
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-2212

@font-face
  font-family:'Whitney-Medium'
  src: url('../fonts/Whitney-Medium_gdi.eot')
  src: url('../fonts/Whitney-Medium_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Whitney-Medium_gdi.woff') format('woff'),
    url('../fonts/Whitney-Medium_gdi.ttf') format('truetype'),
    url('../fonts/Whitney-Medium_gdi.svg#Whitney-Medium') format('svg')
  font-weight: 350
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-2212

@font-face
  font-family:'Whitney-MediumItalic'
  src: url('../fonts/Whitney-MediumItalic_gdi.eot')
  src: url('../fonts/Whitney-MediumItalic_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Whitney-MediumItalic_gdi.woff') format('woff'),
    url('../fonts/Whitney-MediumItalic_gdi.ttf') format('truetype'),
    url('../fonts/Whitney-MediumItalic_gdi.svg#Whitney-MediumItalic') format('svg')
  font-weight: 350
  font-style: italic
  font-stretch: normal
  unicode-range: U+0020-2212

@font-face
  font-family:'Whitney-Semibold'
  src: url('../fonts/Whitney-Semibold_gdi.eot')
  src: url('../fonts/Whitney-Semibold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Whitney-Semibold_gdi.woff') format('woff'),
    url('../fonts/Whitney-Semibold_gdi.ttf') format('truetype'),
    url('../fonts/Whitney-Semibold_gdi.svg#Whitney-Semibold') format('svg')
  font-weight: 375
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-2212
