// ==================================
//
// @Grid
//
// ==================================

// ----------------------------------
// @Columns
// ----------------------------------

.col-md-1
  width: 47%
  margin-right: 2%
  float: left

.col-sm-1
  width: 23.333%
  margin-right: 2%
  float: left

.col-md-1:last-of-type,
.col-sm-1:last-of-type
  margin-right: 0

.row
  margin: 0 0 20px 0

// ----------------------------------
// @Offset
// ----------------------------------

.offset-1
  margin-left: 20px

// ----------------------------------
// @Helpers
// ----------------------------------
.row:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

html .row
  height: 1%