// ----------------------------------
// @Basic
// ----------------------------------

prefix = '.page' // Selector prefix

skewWidth = 40%

fontSize = {
  base: 14px
  panel: 16px
  menu: 16px
  header: 40px
  rolloutDesc: 16px
  subHeader: 30px
  smallHeader: 18px
}

// ----------------------------------
// @Colors
// ----------------------------------

colors = {
  lightText: #fff
  secondaryText: #999
  subtleText: #d5d5d5
  darkText: #231f20
  darkTextHover: #231f20 + #444
  darkElement: #231f20
  textAccentSubtle: #f1ce91 // Light orange
  accent: #ffc21d // Orange
  link: #336699 // Blue
  background: #f7f7f7
  backgroundTransparent: rgba(247, 247, 247, .97)
  siteBackground: #363636
  separator: #ccc
  subtleBorder: #eaeaea
  border: #ccc
  desc: #8b7b7f
  divider-text: #ccc
  divider-horizontal: #ccc
  grey: #ccc
  red-triangle: #ff1d43
  yellow-triangle: #ffc21d
  form-bg: #f9f9f9
  info-hover: #336699
}

// ----------------------------------
// @Animation
// ----------------------------------

duration = {
  transition: 1s
  slider: 1s
  tabs: .7s
}

// ----------------------------------
// @Paths
// ----------------------------------

imgPath = '../img/'
svgPath = '../img/svg/'

// ----------------------------------
// @Depth
// ----------------------------------

depth = {
  pageCloak: 2000
  pageHeader: 1600
  pageTopMenu: 1500
  pageHelper: 1400
  pageBackbutton: 1300
  pageMenu: 1200
  pagePanelChatOnlineBefore: 1000
  pagePanel: 800
  pageOverlay: 700
  pageRollout: 650
  pageOverlayWrapper: 600
  pageContent: 500
  pageFixedContent: 400
  pageContentWrapper: 300
  pageMainBackdropWrapper: 100
}

container = {
  xl: 940px
}