partners-colors = {
  underline: #ffc21d
  number: #ffc21d
  row-border: #cfcfcf
  text-grey: #8b7b7f
}

body
  margin: 0

.container-content.page-partners
  margin: 0 auto
  width: 960px
  .top-slider
    margin: 0
    background: url(imgPath + 'partners_banner.png') no-repeat;
    width: 1300px
    background-size: 100%
    height: 484px
    .title
      font-size: 40px
      margin: 0
      padding-top: 170px
      boldFont()
    .subtitle
      width: 565px
      margin: 0
      font-size: 30px
      margin: 0
      mediumFont()
    .btn.resellers
      width: 180px
      display: block
      margin: 40px 0 0 0
      background: url("../img/btn-sprite.jpg") no-repeat
      background-position: -70px -40px
      color: colors.darkText

.partners-section-name
  font-size: 24px
  boldFont()
  margin: 40px 0

.slide-description
  clearfix()
  p
    margin: 0
  .partners-first-item
    height: 100px
    width: 380px
    float: left
    p
      width: 300px
  .partners-second-item
    height: 100px
    width: 580px
    float: left



.host-advantages,
.profit,
.discount-and-amount,
.partnership
  width: 960px
  margin: 0 auto
  clearfix()
  .title-main
    font-size: 30px
    mediumFont()
    span
      border-bottom: 4px solid partners-colors.underline
      boldFont()
  .advantage-item-sm
    margin: 65px 0 0 0
    width: 300px
    position: relative
  .advantage-item-md
    position: relative
  .item-title
    font-size: 18px
    boldFont()
    margin: 0px 0 27px 0
  .advantages-col-sm
    width: 380px
    float: left
  .advantages-col-md
    width: 580px
    float: left
  .templates-gallery
    // background: url(imgPath + 'templates.png') no-repeat
    height: 180px
    margin: 65px 0 65px 0
    position: relative
    .btn
      display: block
      width: 190px
      position: absolute
      padding-left: 13px
      top: 118px
      right: -15px
      text-transform: uppercase
      background: url("../img/btn-sprite.jpg") no-repeat 
      background-position: -71px -40px
      color: colors.darkText 
      z-index: 200
      &:hover
        background-position: -71px 0
    > div
      position: absolute
      border: 1px solid black
    .first-template
      background: url(imgPath + 'cover-assets/1.jpg') no-repeat
      width: 240px
      height: 180px
      z-index: 100

      border-right: 3px solid #231f20
    .second-template
      width: 230px
      height: 172px
      z-index: 99
      left: 22%
      top: 8px
      background: -moz-linear-gradient(top,  rgba(35,31,32,0.3) 0%, rgba(35,31,32,0.8) 100%), url(imgPath + 'cover-assets/2.jpg') no-repeat
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,31,32,0.3)), color-stop(100%,rgba(35,31,32,0.8))), url(imgPath + 'cover-assets/2.jpg') no-repeat
      background: -webkit-linear-gradient(top,  rgba(35,31,32,0.3) 0%,rgba(35,31,32,0.8) 100%), url(imgPath + 'cover-assets/2.jpg') no-repeat
      background: -o-linear-gradient(top,  rgba(35,31,32,0.3) 0%,rgba(35,31,32,0.8) 100%), url(imgPath + 'cover-assets/2.jpg') no-repeat
      background: -ms-linear-gradient(top,  rgba(35,31,32,0.3) 0%,rgba(35,31,32,0.8) 100%), url(imgPath + 'cover-assets/2.jpg') no-repeat
      background: linear-gradient(to bottom,  rgba(35,31,32,0.3) 0%,rgba(35,31,32,0.8) 100%), url(imgPath + 'cover-assets/2.jpg') no-repeat

      border-right: 3px solid #231f20
    .third-template
      width: 220px
      height: 165px
      z-index: 98
      left: 42%
      top: 15px
      background: -moz-linear-gradient(top,  rgba(35,31,32,0.3) 0%, rgba(35,31,32,0.8) 100%), url(imgPath + 'cover-assets/3.jpg') no-repeat
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,31,32,0.3)), color-stop(100%,rgba(35,31,32,0.8))), url(imgPath + 'cover-assets/3.jpg') no-repeat
      background: -webkit-linear-gradient(top,  rgba(35,31,32,0.3) 0%,rgba(35,31,32,0.8) 100%), url(imgPath + 'cover-assets/3.jpg') no-repeat
      background: -o-linear-gradient(top,  rgba(35,31,32,0.3) 0%,rgba(35,31,32,0.8) 100%), url(imgPath + 'cover-assets/3.jpg') no-repeat
      background: -ms-linear-gradient(top,  rgba(35,31,32,0.3) 0%,rgba(35,31,32,0.8) 100%), url(imgPath + 'cover-assets/3.jpg') no-repeat
      background: linear-gradient(to bottom,  rgba(35,31,32,0.3) 0%,rgba(35,31,32,0.8) 100%), url(imgPath + 'cover-assets/3.jpg') no-repeat

      border-right: 3px solid #231f20

    .fourth-template
      width: 200px
      height: 150px
      z-index: 97
      left: 62%
      top: 30px
      background: -moz-linear-gradient(top,  rgba(35,31,32,0.3) 0%, rgba(35,31,32,0.8) 100%), url(imgPath + 'cover-assets/4.jpg') no-repeat
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,31,32,0.3)), color-stop(100%,rgba(35,31,32,0.8))), url(imgPath + 'cover-assets/4.jpg') no-repeat
      background: -webkit-linear-gradient(top,  rgba(35,31,32,0.3) 0%,rgba(35,31,32,0.8) 100%), url(imgPath + 'cover-assets/4.jpg') no-repeat
      background: -o-linear-gradient(top,  rgba(35,31,32,0.3) 0%,rgba(35,31,32,0.8) 100%), url(imgPath + 'cover-assets/4.jpg') no-repeat
      background: -ms-linear-gradient(top,  rgba(35,31,32,0.3) 0%,rgba(35,31,32,0.8) 100%), url(imgPath + 'cover-assets/4.jpg') no-repeat
      background: linear-gradient(to bottom,  rgba(35,31,32,0.3) 0%,rgba(35,31,32,0.8) 100%), url(imgPath + 'cover-assets/4.jpg') no-repeat

      border-right: 3px solid #231f20


  .advantage-item-md.item-5
    margin: 80px 0 0 0
    width: 250px
    float: left
  .advantage-item-md.item-6
    margin: 80px 0 0 80px
    float: left
    width: 235px


.item-1:before
  content: '1'
  position: absolute
  width: 28px
  height: 28px
  border: 2px solid partners-colors.number
  left: -51px
  top: 5px
  vertical-align: middle
  color: partners-colors.number
  font-size: 20px
  text-align: center
  mediumFont()
  line-height: 28px
  
@-moz-document url-prefix()
  .item-1:before
    line-height: 27px

.item-2:before
  @extend .item-1:before
  content: '2'

.item-3:before
  @extend .item-1:before
  content: '3'

.item-4:before
  @extend .item-1:before
  content: '4'


.item-5:before
  @extend .item-1:before
  content: '5'

.item-6:before
  @extend .item-1:before
  content: '6'

.profit ul
  font-size: 18px
  boldFont()
  padding: 0
  span
    color: partners-colors.number
    padding: 0 10px 0 0
    display: inline-block
  li
    margin: 0 0 18px 0
    list-style: none

.profit
  clearfix()
  .profit-list
    float: left
  .figure
    margin: 0 0 0 119px
    float: left
    width: 130px
    position: relative
    &:before
      content: ''
      background: url(imgPath + 'figure-add.png') no-repeat
      width: 149px
      height: 97px
      position: absolute
      top: 57px
      right: 140px
  .title-discount
    mediumFont()
    font-size: 30px
    line-height: 40px
    width: 278px
    float: left
    margin: 5px 0 0 56px

.discount-and-amount
  .title
    font-size: 18px
    boldFont()
    margin: 0 0 30px 0

.quality
  width: 495px
  float: left
  table 
    th
      border-bottom: 2px solid partners-colors.underline
      padding: 0 75px 13px 0
    td
      height: 40px
    tr
      border-bottom: 1px solid partners-colors.row-border
    tr:last-child
      border-bottom: none

.amount
  width: 416px
  float: left
  p
    margin: 0
    padding: 0

.actions-percentage
  margin: 16px 0 0 0
  background: url('../img/graph-bottom.png') no-repeat
  background-position: 7px -36px
  height: 160px
  div
    display: inline-block
  .servers-nums
    font-size: 18px
    font-family: 'Whitney-Semibold'
  .discount-nums
    font-size: 48px
    font-family: 'Whitney-Book'
  .desc
    text-transform: uppercase
    margin: 5px 0 0 0
    color: partners-colors.text-grey
  .label
    display: inline-block
    color: partners-colors.underline
    font-size: 125px
    line-height: 65px
    lightFont()
    margin: 0 5px 0
    position: relative
    top: 10px

.partnership
  height: 380px
  position: relative
  .title
    font-size: 18px
    margin-bottom: 20px
    boldFont()
    position: relative
  .fill-form
    width: 470px
    float: left
  .site
    width: 350px
    margin: 0 0 0 70px
    float: left
  .partners-forms-block
    width: 470px
    height: 500px
    background: white
    z-index: 9999
    display: block
    position: absolute
    box-shadow: 3px 3px 0px 0px rgba(51, 51, 51, 0.32);
    .skew-tabs
      margin: 40px 30px 0
      li
        width: 215px
    .partners-form-block
      display: none
      &.active
        display: block
    input[type=text]
      display: block
      width: 410px
      border: 0px transparent
      border-bottom: 1px solid black
      margin: 22px 30px 0 30px
      height: 39px
      bookFont()
      font-size: 16px
      background: #f7f7f7
      text-indent: 16px
      &:hover
        background: #eceaeb
        border-bottom: 1px solid #8b7b7f
        transition: all .5s ease
        cursor: pointer
    .btn
      display: inline-block
      margin: 22px 30px 0 30px
      position: relative
      left: 0
      top: 0
      baseFont()
      background: url("../img/btn-sprite.jpg") no-repeat
      background-position: -86px -40px 
      color: colors.darkText
      span
        boldFont()


.footer
  &-partners
    background: url(imgPath + 'partners_footer.jpg') no-repeat
    width: 100%
    background-size: cover
    height: 580px
  &-text

    padding: 540px 0 0 0
    width: 850px
    color: white
    mediumFont()
    font-size: 30px
    hr
      margin: 71px 0 31px
      background-linear-gradient(left, rgba(255, 255, 255, 0.07), 0%, rgba(255, 255, 255, 0), 100%)
    .copyright
      baseFont()
      color: #fff
      font-size: 14px
      opacity: 0.3
      padding-left: 3px
      i
        color: colors.accent
        
.single-page-bg
  background: colors.background





