.container
  width: 90%
  margin: 0 auto

  &-content
    width: 1087px
    margin: 0 116px

    &-solid
      @extend .container-content
      margin: 0 34px
      padding: 0px 500px 0px 82px
      background: colors.backgroundTransparent

  &-narrow
    width: 600px

  &-wmenu
    margin-top: 43px