{prefix}-wrapper
  position: relative
  background: colors.siteBackground
  min-width: 1300px
  height: 100%
  overflow: hidden

{prefix}-cloak
  fill()
  z-index: depth.pageCloak
  pointer-events: none
  background: #fff