{prefix}-panel
  mediumFont()
  font-size: fontSize.panel
  color: colors.lightText
  position: fixed
  width: 100%
  height: 40px
  bottom: 0
  z-index: depth.pagePanel
  line-height: 40px
  background: rgba(20, 20, 20, .8)

  &-phone
    lightFont()

  &-helper
    float: left
    margin-left: 30px
    padding-left: 30px
    cursor: pointer
    opacity: .5

    &:before
      position: absolute
      left: 30px
      top: 50%
      margin-top: -10px
      content: ''
      width: 15px
      height: 15px
      border: 2px solid #fff
      border-radius: 50%

    &:hover
      opacity: .8

  &-phone
  &-support
    margin-right: 30px
    float: right
    opacity: .5
  a
    color: colors.lightText
    &:hover
      text-decoration: none

  &-chat
    position: relative
    float: right
    width: 119px
    height: 100%
    padding-right: 52px
    text-align: right
    color: #222
    cursor: pointer
    right: 0
    opacity: 1
    background-image: url(imgPath + 'chat_btn.png')
    transition: right .4s ease,
      opacity .4s ease

    &:hover
      right: -5px
      opacity: .8

    &.online:before
      position: absolute
      content: ''
      right: 17px
      top: 50%
      margin-top: -13px
      width: 10px
      height: 10px
      background: #2b8b2b
      border: 2px solid #ffcb3f
      border-radius: 50%
      z-index: depth.pagePanelChatOnlineBefore

    &:after
      position: absolute
      content: ''
      right: 20px
      top: 50%
      margin-top: -10px
      width: 19px
      height: 19px
      background-image: url(imgPath + 'chat_icon.png')