.btn
  height: 40px
  position: relative
  background: url(imgPath + 'btn-sprite.jpg') no-repeat
  background-position: -100px -40px
  padding: 10px 20px 10px 10px
  box-sizing: border-box
  display: inline-block
  &:hover
    background-position: -100px 0px
    text-decoration: none
  &:visited
    color: colors.darkText

.btn-add
  width: 140px
  height: 40px
  position: relative
  padding: 10px 17px 10px 15px
  background: url(imgPath + 'btn-sprite.jpg') no-repeat
  boldFont()
  background-position: -110px -40px
  box-sizing: border-box
  display: inline-block
  &:hover
    background-position: -110px 0px
    text-decoration: none
  &:visited
    color: #000

.cms-element
  .btn-add
    margin: 67px 20px 0 20px


.btn-send
  width: 125px
  padding: 10px 0 10px 0
  font-size: 16px
  boldFont()
  background-position: -125px -40px
  text-align: center
  padding-right: 13px
  &:hover
    background-position: -125px 0
    text-decoration: none
  &:visited
    color: colors.darkText


.btn-lg
  height: 40px
  padding: 12px 34px 0 16px
  font-size: 14px
  background: url(imgPath + 'btn-sprite.jpg') no-repeat
  background-position: -79px -40px
  box-sizing: border-box
  display: inline-block
  position: relative
  boldFont()
  &:visited
    color: colors.darkText
  &:hover
    background-position: -79px 0px
    text-decoration: none

.bucket
  display: inline-block
  vertical-align: middle
  width: 19px
  height: 18px
  margin: 0 0 5px 9px
  background: url("../img/sprites/small-sprite.png") no-repeat scroll -141px 0 rgba(0, 0, 0, 0)